body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#inputs-container {
    position: absolute;
    top: 30%;
    left: 63%;
    width: 32%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.auth-container {
    position: absolute;
    right: 5%;
    top: 42%;
    width: 30%;
    height: 40%;
}

.error {
    color: red;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
}

.home-button {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    cursor: pointer;
}

.brand-group {
    position: fixed;
    top: 40px;
    left: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.auth-group {
    position: fixed;
    top: 55px;
    right: 40px;
}

.button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    margin: 0 8px 0 8px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.search {
    padding: 14px 36px 14px 36px;
}

.login {
    border-color: whitesmoke;
    color: whitesmoke;
}

.login:hover {
    background-color: #222222;
}

.register {
    border-color: #f8c100;
    background-color: #f8c100;
    color: black;
}

.register:hover {
    background-color: transparent;
    color: #f8c100;
}

.logo-font {
    background: transparent;
    color: white;
    text-shadow: -1px -1px 0 #000,
    2px -1px 0 #7e683b,
    -1px 2px 0 #7e683b,
    2px 2px 0 #7e683b;
    position: absolute;
    top: 3%;
    left: 30%;
    font-size: 600%;
    font-family: "American Typewriter", fantasy;
}

.accent {
    border-color: #f8c100;
    background-color: transparent;
    color: #f8c100
}

.accent:hover {
    border-color: #f8c100;
    background-color: #322d1b;
    color: #f8c100
}

@media all and (max-width: 1200px) {
    .logo-font {
        display: none;
    }
}

.navigate {
    border-color: whitesmoke;
    color: whitesmoke;
    margin-bottom: 5px;
}

.navigate:hover {
    background-color: #222222;
}

.user-profile-button {
    background-color: transparent;
    text-align: center;
    outline: none;
    height: 40px;
    cursor: pointer;
}

.details {
    color: #222222;
}

.details:hover {
    border-color: #222222;
    color: #222222;
    margin-bottom: 5px;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 50%;
    background-color: #818181;
    height: 2px;
}

.error-font-message {
    color: #303030;
    font-size: 32px;
    font-family: Georgia, serif;
}

.error-font-note {
    color: #303030;
    font-size: 16px;
    font-family: Georgia, serif;
}