<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Policy Page | Safety Car</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link th:href="@{/css/heading.css}" rel="stylesheet" href="../static/css/heading.css">
    <link th:href="@{/css/body.css}" rel="stylesheet" href="../static/css/body.css">
    <link th:href="@{/css/custom.css}" rel="stylesheet" href="../static/css/custom.css">
</head>

<body>
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" onclick="location.href ='/'">SAFETY CAR</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded"
                type="button"
                data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i
                class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     sec:authorize="hasRole('ROLE_CUSTOMER')"
                                                     onclick="location.href = '/profile'">Profile</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     sec:authorize="isAuthenticated()"
                                                     onclick="location.href = '/policies'">Policies</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <form class="form"
                          sec:authorize="hasRole('ROLE_AGENT')"
                          th:action="@{'/policies/{id}'(id=${policy.id})}" th:object="${statusDto}" th:value="ACCEPT"
                          method="post">
                        <input type="hidden" name="status" th:value="ACCEPT">
                        <button type="submit" class="btn btn-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                onclick="return confirm('Do you want to accept this request?');">Accept Request
                        </button>
                    </form>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <form class="form"
                          sec:authorize="hasRole('ROLE_AGENT')"
                          th:action="@{'/policies/{id}'(id=${policy.id})}" th:object="${statusDto}"
                          method="post">
                        <input type="hidden" name="status" th:value="REJECT">
                        <button type="submit" class="btn btn-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                onclick="return confirm('Do you want to reject this request?');">Reject Request
                        </button>
                    </form>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <form class="form"
                          th:if="${policy.status == policy.status.PENDING and #authorization.expr('hasRole(''ROLE_CUSTOMER'')')}"
                          th:action="@{'/policies/{id}'(id=${policy.id})}" th:object="${statusDto}" method="post">
                        <input type="hidden" name="status" th:value="CANCEL">
                        <button type="submit" class="btn btn-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                onclick="return confirm('Do you want to cancel this request?');">Cancel Request
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="page-section" id="Policy">
    <div class="container">
        <div class="text-center">
            <h6 class="page-section-heading text-secondary my-5 d-inline-block">Policy Details
            </h6>
            <p id="status">Status: <a style="font-weight: bold" th:text="${policy.status}"></a></p>
            <p id="date">Creation Date: <a style="font-weight: bold" th:text="${policy.creationDate}"></a></p>
        </div>
        <div class="row">
            <div class="col-6">
                <section id="Prefilled Offer">
                    <div class="text-left page-section-heading text-secondary my-5 d-inline-block font-"
                         style="font-size: 16px; line-height: 110%; color: #00477f;">
                        <br>
                        <p id="number">Policy No: <a style="font-weight: bold" th:text="${policy.policyNumber}"></a></p>
                        <p id="brand">Brand: <a style="font-weight: bold" th:text="${policy.model.brand.name}"></a></p>
                        <p id="model">Model: <a style="font-weight: bold" th:text="${policy.model.name}"> </a></p>
                        <p>Cubic capacity: <a style="font-weight: bold" th:text="${policy.cubicCapacity}"></a></p>
                        <p id="driverAge">Driver's age: <a style="font-weight: bold" th:text="${policy.driverAge}"></a>
                        </p>
                        <p id="registrationDate">Registration date: <a style="font-weight: bold"
                                                                       th:text="${#dates.format(policy.registrationDate, 'dd-MM-yyyy')}"></a>
                        </p>
                        <p id="hasPreviousAccidents">Previous accidents: <a style="font-weight: bold"
                                                                            th:text="${policy.hasPreviousAccidents} ? 'Yes' : 'No'"></a>
                        </p>
                        <p id="city">City: <a style="font-weight: bold" th:text="${policy.city}"></a></p>
                        <p id="street">Street: <a style="font-weight: bold" th:text="${policy.street}"></a></p>
                        <p id="phone">Phone: <a style="font-weight: bold" th:text="${policy.phone}"> </a></p>
                        <p id="email">Email: <a style="font-weight: bold" th:text="${policy.email}"></a></p>
                        <p id="effectiveDate">Effective date: <a style="font-weight: bold"
                                                                 th:text="${#dates.format(policy.effectiveDate, 'dd-MM-yyyy')}"></a>
                        </p>
                        <p id="total-premium">Total premium:
                            <a style="font-weight: bold" th:text="${policy.totalAmount} % 1 == 0 ?
                            ${policy.totalAmount} : ${#numbers.formatDecimal(policy.totalAmount, 0, 2)}"></a></p>
                    </div>
                </section>
            </div>
            <div class="col-6">
                <div class="mt-4">
                    <img class="rounded float-right img-fluid" th:src="${policy.registrationCertificate}"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR6G8xc8shrvmn42jDjGXWVy1SJ9vHhSs-Whw&usqp=CAU"
                         alt="Car Certificate">
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
</footer>


</body>
</html>