<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Account Settings | Safety Car</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet">
    <link th:href="@{/css/our-styles.css}" href="../static/css/our-styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link th:href="@{/css/heading.css}" rel="stylesheet" href="../static/css/heading.css">
    <link th:href="@{/css/body.css}" rel="stylesheet" href="../static/css/body.css">
</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top" onclick="location.href ='/'">SAFETY
        CAR</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                                     sec:authorize="hasRole('ROLE_CUSTOMER')"
                                                     onclick="location.href = '/profile'">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0">Online Insurance</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">Account Settings</p>
    </div>
</header>

<section class="page-section Online Calculator" id="Online Calculator">
    <div class="container">
        <form action="#" th:action="@{'/profile/update'}"
              th:object="${updateCustomerDto}" method="post" enctype="multipart/form-data">
            <div class="input-field col-md-auto">
                <label>
                    <input class="form-control" type="email" name="email" th:value="${customer.email}" disabled>
                </label>
                <label>Email</label>
            </div>
            <div class="input-field col-md-auto">
                <label>
                    <input class="form-control" type="text" name="city" th:value="${customer.city}">
                </label>
                <label>City</label>
            </div>
            <div class="input-field col-md-auto">
                <label>
                    <input class="form-control" type="text" name="street" th:value="${customer.street}">
                </label>
                <label>Street</label>
            </div>
            <div class="input-field col-md-auto">
                <label>
                    <input class="form-control" th:type="tel" name="phone" th:value="${customer.phone}"
                           th:autofocus autocomplete required
                           pattern="^\+(?:[0-9]?){6,14}[0-9]$">
                </label>
                <label>Phone</label>
            </div>
            <div class="input-field col-md-auto">
                <label>
                    <input class="form-control" th:if="${#authentication.name == customer.email}"
                           th:field="*{oldPassword}" type="password"
                           th:autofocus autocomplete minlength="5" max="50"/>
                </label>
                <label>Old Password</label>
            </div>
            <div class="input-field col-md-auto">
                <label>
                    <input class="form-control" th:if="${#authentication.name == customer.email}"
                           th:field="*{password}" type="password"
                           th:autofocus autocomplete minlength="5" max="50"/>
                </label>
                <label>New Password</label>
            </div>
            <div class="input-field col-md-auto">
                <label>
                    <input class="form-control" th:if="${#authentication.name == customer.email}"
                           th:field="*{passwordConfirmation}" type="password"
                           th:autofocus autocomplete minlength="5" max="50"/>
                </label>
                <label>Confirm Password</label>
            </div>
            <div class="col s12 offset-s8">
                <button type="submit" class="btn btn-primary mb-2">Update</button>
            </div>
        </form>
    </div>
</section>

<!-- Copyright Section-->
<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded"
                                                       href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>

</html>